<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        {% extends 'mi_app/index.html' %}
        {% load static %}
        {% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../static/mi_app/assets/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">CAFE FUERTE, RAICES FUERTES</span>
                                    <span class="section-heading-lower">Sobre el Cafe</span>
                                </h2>
                                <p>Fundado en 1987 por los hermanos Hernández, nuestro establecimiento ha estado sirviendo un rico café procedente de agricultores artesanales en varias regiones de América del Sur y Central. Nos dedicamos a viajar por el mundo, encontrar el mejor café y traerlo aquí en nuestra cafetería.</p>
                                <p class="mb-0">
                                    Te garantizamos que te encontraras
                                    <em>encantado</em>
                                    con nuestras decadentes mezclas desde el momento en que entras hasta que terminas tu último sorbo. Únase a nosotros para su rutina diaria, una salida con amigos o simplemente para disfrutar de un tiempo a solas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
